@use 'colors' as a;
@use 'variables' as v;

@mixin header-button {
	background-color: a.color(black);
	border: none;
	color: a.color(white);
	padding: .2rem .7rem;
	text-transform: uppercase;
	font-size: .714rem;
}

@mixin button {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid a.color(black);
	padding: 0.5rem 0;
	text-transform: uppercase;
	font-weight: 800;
	font-size: .571rem;
	letter-spacing: 0.1em;
	color: a.color(black);
}

@mixin title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .857rem;
	padding-bottom: 1.5rem;
	letter-spacing: 0.12em;
}

@mixin description {
	font-size: .857rem;
	text-transform: capitalize;
	padding-bottom: 1.5rem;
}

@mixin secondary-button {
	padding-top: 1rem;

	button {
		border: none;
		border-bottom: 1px solid a.color(black);
		padding: 0.5rem 0;
		text-transform: uppercase;
		font-weight: 800;
		font-size: .571rem;
		letter-spacing: 0.1em;
		background-color: a.color(black);
		color: a.color(white);
		border-radius: v.$border-radius;
		padding: 0.8rem 2rem;
	}
}