@use 'type';

//fonts
// $body-font: "Outfit", sans-serif;
$body-font: "Jost", sans-serif;

// spacing
$padding-full: 10rem;

$padding: 5rem;
$padding-half: calc(5rem / 2);
$padding-quart: calc($padding-half /1.4);

$heading-padding: 1rem;

// styling
$border-radius: 5px;
/// fonts
$twelve: 0.86rem;
$ten: 0.71rem;
$eight: 0.58rem;
// media queries
$breakpoint-mp: 576px;
$breakpoint-mt: 992px;
//mobile
$pm: 50px;