@use '../abstracts' as a;

.accordion-header {

	.accordion-title {
		font-weight: 700;
		text-transform: uppercase;
		font-size: a.$ten;
		padding-bottom: 1rem;
		text-transform: uppercase;
	}
}

.accordion-body {

	.accordion-links {
		ul {
			padding-left: 0;

			li {
				font-size: a.$twelve;
				list-style-type: none;
				padding-bottom: .7rem;
				text-transform: capitalize;
			}
		}
	}
}