@use "../abstracts" as a;

#destinations {
	padding-bottom: a.$padding;

	.slider {
		aspect-ratio: 1;
		position: relative;
		overflow: hidden;
	
		.heading {
			position: absolute;
			width: 80%;
			bottom: 2.2rem;
			left: 2rem;
			color: a.color(white);
	
			button {
				@include a.button;
				color: a.color(white);
				border-bottom: 1px solid a.color(white);
			}
		}
	}
}