@use '../abstracts' as a;

nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: a.color(white);
	height: 100dvh;
	width: 90%;
	padding: 1rem;
	overflow-y: scroll;

	.navigation-body {
		padding-top: 2.5rem;
	}

	.navigation-cards {

		.nav-card {
			@include a.button;
			background-color: a.color(black);
			color: a.color(white);
			text-align: center;
			padding: 2rem;
			margin-bottom: 1rem;
		}
	}

	.navigation-footer {

		.links {
			padding-top: 1rem;

			div {
				font-weight: 700;
				text-transform: uppercase;
				font-size: 0.71rem;
				padding-bottom: 1rem;
				text-transform: uppercase;
			}
		}

		.sub-links {
			padding-bottom: 1rem;

			ul {
				padding-left: 0;
				column-gap: 10px;

				li {
					list-style-type: none;
					font-size: .81rem;
					color: gray;
					display: inline-block;
					padding-bottom: 1rem;
				}
			}
		}

		.socials {
			column-gap: 13px;
		}

		.credits {
			padding-top: 1.5rem;

			.copyright {
				font-size: .74rem;
				font-weight: 500;
			}

			.powered {
				@extend .copyright;
			}
		}
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 1;
	height: 100dvh;
	width: 100%;
}