@use '../abstracts' as a;

#newsletter {
	padding-bottom: a.$padding;

	.nested {
		border-radius: a.$border-radius;
		aspect-ratio: 1;
		position: relative;
		overflow: hidden;

		.heading {
			color: a.color(white);
		}

		input {
			width: 100%;
			border: none;
			border-radius: a.$border-radius;
			padding: .4rem 1rem;
			font-size: 1rem;
			font-weight: 300;
			margin-bottom: 1.2rem;
			outline: none;
		}

		button {
			width: 100%;
			border: none;
			border-radius: a.$border-radius;
			padding: .6rem 1rem;
			font-size: a.$twelve;
			font-weight: 300;
			background-color: a.color(black);
			color: a.color(white);
		}
	}
}